.main-container {
  width: 100%;
  display: flex;
}

.form-container {
  width: 70%;
  border-right: 1px solid black;
}

.form h2 {
  margin: auto;
  width: fit-content;
}

.form {
  width: fit-content;
  margin: auto;
  padding: 5px 5px;
}

.form table {
  background-color: rgb(194, 192, 192);
}

.form td {
  padding: 5px;
  margin: 0px;
}

.form button {
  display: block;
  margin: auto;
}

.form .error {
  width: fit-content;
  padding-left: 80px;
}

.form button {
  padding: 2px 10px;
  border-radius: 7%;
  background-color: rgb(50, 233, 50);
}

.form button:hover {
  font-weight: 700;
}

.datacontainer {
  display: flex;
  flex-wrap: wrap;
}

.search-container {
  width: 30%;
}
