.container {
  width: 300px;
  height: fit-content;
  background-color: rgb(194, 192, 192);
  margin: 10px;
}

.container table {
  border-spacing: 0px;
  padding: 5px;
}
.container tr {
  border: 1px solid grey;
}

.container td:first-child {
  width: 100px;
}

.container td:last-child {
  width: 180px;
}

.container td {
  border-bottom: 1px solid grey;
}

.container .button {
  display: flex;
  column-gap: 50px;
  margin-left: 40px;
}

.container .borderbot {
  padding-top: 5px;
  border-bottom: none;
}

.container button {
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 7%;
}

.container button:first-child {
  background-color: rgb(253, 183, 54);
}

.container button:last-child {
  background-color: rgb(245, 80, 80);
}

.container button:hover {
  font-weight: 600;
}
